.idea
.ipynb_checkpoints
.virtual_documents
/*/.env
.env
/Web Programming Using Python/movies/A Picture of Her (2023).txt
/Web Programming Using Python/movies/Choice of Arms (1981).txt
/Web Programming Using Python/movies/Damaged Goods (2021).txt
/Web Programming Using Python/movies/Deep Sea (2023).txt
/Web Programming Using Python/movies/Doctor Who Am I (2022).txt
/Web Programming Using Python/movies/Días azules (2006).txt
/Web Programming Using Python/movies/Everything I Am (2022).txt
/Web Programming Using Python/movies/Five Years North (2020).txt
/Web Programming Using Python/movies/Honest to God (2022).txt
/Web Programming Using Python/movies/I FORGIVE (2021).txt
/Web Programming Using Python/movies/Inori (2012).txt
/Web Programming Using Python/movies/Island of the Dolls (2023).txt
/Web Programming Using Python/movies/Jusan-nin no Shikaku (1990).txt
/Web Programming Using Python/movies/Making of a Prostitute (1971).txt
/Web Programming Using Python/movies/Ordinary Victories (2015).txt
/Web Programming Using Python/movies/Pardoned by Grace (2022).txt
/Web Programming Using Python/movies/Return of Punch and Judy (2023).txt
/Web Programming Using Python/movies/Return of the Salem Witch (2022).txt
/Web Programming Using Python/movies/Rompak (2022).txt
/Web Programming Using Python/movies/Target (2011).txt
/Web Programming Using Python/movies/The Last Nosferatu (2023).txt
/Web Programming Using Python/movies/The Quest for Tom Sawyer's Gold (2023).txt
/Web Programming Using Python/movies/The Whisper of Silence (2020).txt
/Web Programming Using Python/movies/Twisted Sister (2023).txt
/Web Programming Using Python/movies/Vacation of Terror (1989).txt
/Web Programming Using Python/movies/Vacation of Terror II (1991).txt
/Web Programming Using Python/movies/Verschwinde von hier (1999).txt
/Web Programming Using Python/movies/Vincent's Vow (2020).txt
/Web Programming Using Python/movies/Wonder Mama (2014).txt
/Web Programming Using Python/movies/Young Mother 3 (2015).txt
